* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
		border: 1px solid pink;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: aquamarine;
	font-family: Arial, Helvetica, sans-serif;
}

#game-container {
	background-color: white;
	width: 300px;
	padding: 20px;
	border-radius: 10px;
}

#score-board {
	background-color: azure;
}

#game-board {
	background-color: lavender;
}