* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* border: 1px solid pink; */
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: lightcyan;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	text-align: center;
	font-size: xx-large;
}

#game-container {
	background-color: white;
	width: 400px;
	padding: 20px;
	border-radius: 10px;
}

#score-board {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 8px;
	margin-top: 20px;
	font-size: x-large;
}

#score-box {
	display: flex;
	margin: 8px;

}

#reset-box {
	display: flex;
	justify-items: center;
	flex-direction: column;
	margin: 8px;
}

#reset-button {
	width: 80px;
	margin: auto;
}

#game-board {

	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	gap: 4px;
	margin-top: 20px;
}

#tooltip {
	position: absolute;
	display: none;
	background: #fff;
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 5px;
	pointer-events: none;
	z-index: 1000;
}

#credits-box {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

#credits-box>div {
	width: 100px;
}

#link-box {
	text-align: left;
	margin: auto;
	
}

a {
	 text-decoration: none;
}

#version-box {
	text-align: left;
	margin: auto;
}

#how-to-button-box {
	text-align: right;
	padding: 2px;
}

#how-to-button-box>button {
	padding: 2px;
}

@keyframes fillFromTop {
	from {
		background-size: 100% 0;
	}

	to {
		background-size: 100% 100%;
	}
}

.tile {
	width: 100%;
	border-radius: 5px;
	padding-top: 100%;
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100% 100%;
	transition: background-color 0.5s ease;
}

.tile.fill {
	animation: fillFromTop 0.5s forwards;
}

/* data type will be used to convey different colored blocks */
.tile[data-type="1"] {
	background-color: red;
}

.tile[data-type="2"] {
	background-color: orange;
}

.tile[data-type="3"] {
	background-color: yellow;
}

.tile[data-type="4"] {
	background-color: green;
}

.tile[data-type="5"] {
	background-color: blue;
}

.tile[data-type="6"] {
	background-color: purple;
}

.tile[data-type="7"] {
	background-color: pink;
}

.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1000;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	/* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	/* Could be more or less, depending on screen size */
}

.close-button {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close-button:hover,
.close-button:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}